# server/render.yaml
services:
  - type: web
    name: ecommerce-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 4000
      - key: MONGO_URI
        value: mongodb+srv://krasniqif937:Festimi2003--@ecommerce.f6lgppk.mongodb.net/?retryWrites=true&w=majority&appName=Ecommerce
      - key: JWT_SECRET
        value: SECRETTOKEN
